* {
  box-sizing: border-box;
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #66b2b2;
  color: #fff;
  text-align: center;
}

.container {
  padding-top: 1rem;
}
#inputField {
  width: 300px;
  height: 46px;
  border: 1px solid #fff;
  outline: none;
  font-size: 25px;
  vertical-align: middle;
}
#addToDo {
  height: 46px;
  width: 46px;
  border: 1px solid #fff;
  vertical-align: middle;
  font-size: 30px;
  color: #fff;
  background-color: #66b2b2;
}
.to-dos {
  margin-top: 25px;
}
.paragraph-styling {
  width: 21.6rem;
  height: 2rem;
  margin: 0% auto;
  text-align: start;
  cursor: pointer;
  font-size: 20px;
}
